{% extends 'baseTemplate.html' %}

{% block content %}
{% load static %}
<section class="contact section-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-12">
        
        {% if 'incrementar' in request.path %}
        <h2 class="mb-4">Incerementar <span>stock vino</span></h2>
        {% else %}
        <h2 class="mb-4">Decrementar <span>stock vino</span></h2>
        {% endif %}
        <h6 class="mb-2">Descripcion:</h6>
        <p class="lead mb-4">
            <span style="color: #742c44;"><b>Nombre:</b></span> {{vino.nombre}}<br>
            <span style="color: #742c44;"><b>Stock:</b></span> {{vino.cantidad}}<br>
        </p>

        <form method="post" class="contact-form me-lg-5 pe-lg-3">
          {% csrf_token %}

          <div class="form-floating">
            {{ form.as_p }}
          </div>

          <div class="col-lg-5 col-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-primary" onclick="history.back()">Cancelar</button>
          </div>
        </form>
      </div>

      <div class="col-lg-6 col-12 mt-5 ms-auto">
        <img src="{% static 'vinventory/img/incrementar.jpg' %}" class="shadow img-fluid" alt="bodega">
      </div>

    </div>
  </div>
</section>

{% endblock %}